@import 'variables';

@media only screen and (max-width: 520px) {
  .container{
    width: 85% !important;
  }
  .menu{
    display: block;
  }
  header{
    position: fixed;
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px 0;

    nav{ 
      position: fixed;
      width: 100%;
      height: 100%;
      background: #eee;
      text-align: center;
      top: 0;
      left: 0;
      display: none;
  
      ul{
        margin-top: 25px;  
        li{
          margin: 50px 0px;
          font-size: 18px;
          display: block;
          a{
            color: #010101;
            font-size: 22px;
            font-weight: bold;
          }
        }
      }

      .fa-search{
        display: block;
        width: 50px;
        margin: 0 auto;
        font-size: 22px;
      }
    }
  }

  // landing content responsive
  .landing_content{
    .after_nav{
      padding-top: 140px;
      margin: 0 auto;

      .info_section{
        width: 100%;
        margin-right: 40px;
        float: none;
        p{
          margin: 15px 0px 40px;
          font-size: 26px;
          font-weight: 600;
        }
      }
      .slider_section{
        display: none;
      }
      // slider bullets
      .to_slide_bullets{
        display: none;
      }
    }
  }

  // style of the world section and other like
  .world_content,
  .gallery,
  .the_blog,
  .the_second_blog{
    margin: 80px auto !important;

    .boxies_container,
    .wide_blog_imgs,
    .small_blog_imgs{
      width: 85%;
      margin: 0 auto;

      .box{
        width: 100%;
        margin: 20px auto;
        display: block;        
      }
    }
  }

  //style of the subscribe section
  .subscribe{
    h1{
      font-size: 35px;
    }
    p{
      width: 100%;
    }
    form{
      input{
        width: 62%;
      }
    }
  }

  // style of footer
  footer{
    padding: 30px 0;

    p{
      color: #666;
      margin: 10px 0;
    }

    .up_footer{
      justify-content: center;
      flex-direction: column;

      .logo_p{
        width: 100%;
        p{
          font-size: 14px;
        }
      }
      li{
        font-size: 12px;
      }
      .blue_btn{
        margin-left: 0px;
        padding: 5px 10px;
      }
    }

    .down_footer{
      p{
        font-size: 12px;
      }
    }
  }

  // .......... the blog media query style ...........
  //headlines
  .headlines{
    margin: 100px auto 40px;
    padding-top: 40px;

    ul{
      margin-top: 20px;
      float: none;
      display: block;
      text-align: center;
  
      li{
        padding: 10px 12px;
        margin: 10px 5px;
        display: inline-block;
        font-size: 14px;
      }
    }
  }

  // style of the blog
  .the_blog,
  .the_second_blog{
    padding: 100px auto;

    .wide_blog_imgs{
      width: 85%;
      float: none;

      .box{
        width: 100%;
      }
      .box:first-of-type{
        .box_image:first-of-type{
          height: auto;
        }
      }
    }

    .small_blog_imgs{
      width: 85%;
      float: none;
      .box{
        margin: 20px 0px;
        .box_image,
        .box_info_div{
          width: 100%;
          margin: 0px;
        }
        &:first-of-type,
        &:nth-of-type(5){
          margin-left: 0px;
        }
      }
    }
  }


  // ................... FAQs media query style .................
  //FAQs
  .FAQs{
    margin: 100px auto;
  
    h1{
      font-size: 38px;
    }
    .question{
      h2{
        display: inline-block;
        font-size: 18px;
        width: 90%;
      }
      span{
        float: right;
        font-size: 32px;
        width: 7%;
      }
    }
  }


  // ................... Any article style ..............
  .the_article{

    .wide_article_imgs{
      width: 100%;
      float: none;
      padding: 40px 0;
      p{
        margin-bottom: 60px !important;
      }
    }
  
    .small_article_imgs{
      width: 100%;
      float: none;
      padding: 30px 20px;
      margin-left: 0px;
  
      h1{
        font-size: 38px;
      }
    }
  }
  

  // style of like_not_like
  .like_not_like{
    margin: 100px auto;
    h1{
      font-size: 42px;
    }
  }

}



@media only screen and (max-width: 992px) and (min-width: 521px){

  .container{
    width: 90%;
  }
  .fa-search{
    margin-left: 60px;
  }
  // landing content responsive
  .landing_content{
    .after_nav{
      margin: 50px auto;
      .info_section{
        width: 60%;
        margin-right: 25px;
        p{
          font-size: 28px;
        }
      }
      .slider_section_div{
        margin-bottom: 25px !important;
        p{
          margin: 8px 0 !important;
        }
      }
      // slider bullets
      .to_slide_bullets{
        margin: 0px auto 20px;
      }
    }
  }

  // style of the world section and other like
  .world_content,
  .gallery,
  .the_blog,
  .the_second_blog{
    .boxies_container,
    .wide_blog_imgs,
    .small_blog_imgs{
      .box{
        width: 29%;
        &:first-of-type,
        &:nth-of-type(5){
          margin-left: 10px;
        }
        .box_image{
          width: 100%;
          height: 150px;
        }
      }
    }
  }



  // ............... Blog responsive .............
  .headlines{
    ul{
      li{
        padding: 8px 12px;
        margin: 0 5px;
      }
    }
  }

  // style of the blog
  .the_blog,
  .the_second_blog{
    .wide_blog_imgs{
      width: 60%;
      float: left;

      .box{
        width: 60%;
      }
      .box:first-of-type{
        .box_image:first-of-type{
          height: 280px;
        }
      }
    }

    .small_blog_imgs{
      float: right;
      .box{
        width: 85%;
        margin: 20px;

        .box_image,
        .box_info_div{
          width: 100%;
        }

        &:first-of-type,
        &:nth-of-type(5){
          margin-left: 20px;
        }
      }
    }
  }

  
  .the_second_blog{
    .second_wide_blog_imgs{
      width: 60%;
    }

    .second_small_blog_imgs{
      width: 37%;

      .box{
        width: 100%;
        margin: 20px 0px;
        &:first-of-type{
          margin-left: 0px;
        }
      }

    }
  }

  
  // ................The Article .................
  .the_article{

    .wide_article_imgs{
      width: 60% !important;
      .box{
        width: 100%;
        &:first-of-type{
          margin: 0px;
        }
      }
    }
  
    .small_article_imgs{
      width: 38%;
      margin-left: 0px;
      .other_article{
        margin: 20px 0;
      }
    }
  }
  

}