.container {
  width: 75%;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

ul {
  list-style: none;
}

li {
  display: inline;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.blue_span {
  background: #4369EE;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
}

.fa-search {
  display: inline;
  margin-left: 100px;
  padding: 10px;
}

.blue_btn,
.box_blue_btn,
.box_red_btn {
  padding: 10px 20px;
  background: #4369EE;
  color: white;
  margin: 20px 0px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.blue_btn:hover,
.box_blue_btn:hover,
.box_red_btn:hover {
  background: #1b3bac;
}

.box_red_btn {
  background: #EF4343;
  font-size: 12px;
  right: 0px;
  bottom: 30px;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  border-radius: 15px 0px 0px 15px;
}

.box_red_btn:hover {
  background: #d81e1e;
}

.black_logo_text,
.black_menu {
  color: #222 !important;
}

.black_logo_text i,
.black_menu i {
  color: #222;
}

@media only screen and (max-width: 520px) {
  .container {
    width: 85% !important;
  }
  .menu {
    display: block;
  }
  header {
    position: fixed;
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px 0;
  }
  header nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #eee;
    text-align: center;
    top: 0;
    left: 0;
    display: none;
  }
  header nav ul {
    margin-top: 25px;
  }
  header nav ul li {
    margin: 50px 0px;
    font-size: 18px;
    display: block;
  }
  header nav ul li a {
    color: #010101;
    font-size: 22px;
    font-weight: bold;
  }
  header nav .fa-search {
    display: block;
    width: 50px;
    margin: 0 auto;
    font-size: 22px;
  }
  .landing_content .after_nav {
    padding-top: 140px;
    margin: 0 auto;
  }
  .landing_content .after_nav .info_section {
    width: 100%;
    margin-right: 40px;
    float: none;
  }
  .landing_content .after_nav .info_section p {
    margin: 15px 0px 40px;
    font-size: 26px;
    font-weight: 600;
  }
  .landing_content .after_nav .slider_section {
    display: none;
  }
  .landing_content .after_nav .to_slide_bullets {
    display: none;
  }
  .world_content,
  .gallery,
  .the_blog,
  .the_second_blog {
    margin: 80px auto !important;
  }
  .world_content .boxies_container,
  .world_content .wide_blog_imgs,
  .world_content .small_blog_imgs,
  .gallery .boxies_container,
  .gallery .wide_blog_imgs,
  .gallery .small_blog_imgs,
  .the_blog .boxies_container,
  .the_blog .wide_blog_imgs,
  .the_blog .small_blog_imgs,
  .the_second_blog .boxies_container,
  .the_second_blog .wide_blog_imgs,
  .the_second_blog .small_blog_imgs {
    width: 85%;
    margin: 0 auto;
  }
  .world_content .boxies_container .box,
  .world_content .wide_blog_imgs .box,
  .world_content .small_blog_imgs .box,
  .gallery .boxies_container .box,
  .gallery .wide_blog_imgs .box,
  .gallery .small_blog_imgs .box,
  .the_blog .boxies_container .box,
  .the_blog .wide_blog_imgs .box,
  .the_blog .small_blog_imgs .box,
  .the_second_blog .boxies_container .box,
  .the_second_blog .wide_blog_imgs .box,
  .the_second_blog .small_blog_imgs .box {
    width: 100%;
    margin: 20px auto;
    display: block;
  }
  .subscribe h1 {
    font-size: 35px;
  }
  .subscribe p {
    width: 100%;
  }
  .subscribe form input {
    width: 62%;
  }
  footer {
    padding: 30px 0;
  }
  footer p {
    color: #666;
    margin: 10px 0;
  }
  footer .up_footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .up_footer .logo_p {
    width: 100%;
  }
  footer .up_footer .logo_p p {
    font-size: 14px;
  }
  footer .up_footer li {
    font-size: 12px;
  }
  footer .up_footer .blue_btn {
    margin-left: 0px;
    padding: 5px 10px;
  }
  footer .down_footer p {
    font-size: 12px;
  }
  .headlines {
    margin: 100px auto 40px;
  }
  .headlines ul {
    float: none;
    display: block;
    text-align: center;
  }
  .headlines ul li {
    padding: 10px 12px;
    margin: 10px 5px;
    display: inline-block;
    font-size: 14px;
  }
  .the_blog,
  .the_second_blog {
    padding: 100px auto;
  }
  .the_blog .wide_blog_imgs,
  .the_second_blog .wide_blog_imgs {
    width: 85%;
    float: none;
  }
  .the_blog .wide_blog_imgs .box,
  .the_second_blog .wide_blog_imgs .box {
    width: 100%;
  }
  .the_blog .wide_blog_imgs .box:first-of-type .box_image:first-of-type,
  .the_second_blog .wide_blog_imgs .box:first-of-type .box_image:first-of-type {
    height: auto;
  }
  .the_blog .small_blog_imgs,
  .the_second_blog .small_blog_imgs {
    width: 85%;
    float: none;
  }
  .the_blog .small_blog_imgs .box,
  .the_second_blog .small_blog_imgs .box {
    margin: 20px 0px;
  }
  .the_blog .small_blog_imgs .box .box_image,
  .the_blog .small_blog_imgs .box .box_info_div,
  .the_second_blog .small_blog_imgs .box .box_image,
  .the_second_blog .small_blog_imgs .box .box_info_div {
    width: 100%;
    margin: 0px;
  }
  .the_blog .small_blog_imgs .box:first-of-type, .the_blog .small_blog_imgs .box:nth-of-type(5),
  .the_second_blog .small_blog_imgs .box:first-of-type,
  .the_second_blog .small_blog_imgs .box:nth-of-type(5) {
    margin-left: 0px;
  }
  .FAQs {
    margin: 100px auto;
  }
  .FAQs h1 {
    font-size: 38px;
  }
  .FAQs .question h2 {
    display: inline-block;
    font-size: 18px;
    width: 90%;
  }
  .FAQs .question span {
    float: right;
    font-size: 32px;
    width: 7%;
  }
  .the_article .wide_article_imgs {
    width: 100%;
    float: none;
    padding: 40px 0;
  }
  .the_article .wide_article_imgs p {
    margin-bottom: 60px !important;
  }
  .the_article .small_article_imgs {
    width: 100%;
    float: none;
    padding: 30px 20px;
    margin-left: 0px;
  }
  .the_article .small_article_imgs h1 {
    font-size: 38px;
  }
  .like_not_like {
    margin: 100px auto;
  }
  .like_not_like h1 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .fa-search {
    margin-left: 60px;
  }
  .landing_content .after_nav {
    margin: 50px auto;
  }
  .landing_content .after_nav .info_section {
    width: 60%;
    margin-right: 25px;
  }
  .landing_content .after_nav .info_section p {
    font-size: 28px;
  }
  .landing_content .after_nav .slider_section_div {
    margin-bottom: 25px !important;
  }
  .landing_content .after_nav .slider_section_div p {
    margin: 8px 0 !important;
  }
  .landing_content .after_nav .to_slide_bullets {
    margin: 0px auto 20px;
  }
  .world_content .boxies_container .box,
  .world_content .wide_blog_imgs .box,
  .world_content .small_blog_imgs .box,
  .gallery .boxies_container .box,
  .gallery .wide_blog_imgs .box,
  .gallery .small_blog_imgs .box,
  .the_blog .boxies_container .box,
  .the_blog .wide_blog_imgs .box,
  .the_blog .small_blog_imgs .box,
  .the_second_blog .boxies_container .box,
  .the_second_blog .wide_blog_imgs .box,
  .the_second_blog .small_blog_imgs .box {
    width: 29%;
  }
  .world_content .boxies_container .box:first-of-type, .world_content .boxies_container .box:nth-of-type(5),
  .world_content .wide_blog_imgs .box:first-of-type,
  .world_content .wide_blog_imgs .box:nth-of-type(5),
  .world_content .small_blog_imgs .box:first-of-type,
  .world_content .small_blog_imgs .box:nth-of-type(5),
  .gallery .boxies_container .box:first-of-type,
  .gallery .boxies_container .box:nth-of-type(5),
  .gallery .wide_blog_imgs .box:first-of-type,
  .gallery .wide_blog_imgs .box:nth-of-type(5),
  .gallery .small_blog_imgs .box:first-of-type,
  .gallery .small_blog_imgs .box:nth-of-type(5),
  .the_blog .boxies_container .box:first-of-type,
  .the_blog .boxies_container .box:nth-of-type(5),
  .the_blog .wide_blog_imgs .box:first-of-type,
  .the_blog .wide_blog_imgs .box:nth-of-type(5),
  .the_blog .small_blog_imgs .box:first-of-type,
  .the_blog .small_blog_imgs .box:nth-of-type(5),
  .the_second_blog .boxies_container .box:first-of-type,
  .the_second_blog .boxies_container .box:nth-of-type(5),
  .the_second_blog .wide_blog_imgs .box:first-of-type,
  .the_second_blog .wide_blog_imgs .box:nth-of-type(5),
  .the_second_blog .small_blog_imgs .box:first-of-type,
  .the_second_blog .small_blog_imgs .box:nth-of-type(5) {
    margin-left: 10px;
  }
  .world_content .boxies_container .box .box_image,
  .world_content .wide_blog_imgs .box .box_image,
  .world_content .small_blog_imgs .box .box_image,
  .gallery .boxies_container .box .box_image,
  .gallery .wide_blog_imgs .box .box_image,
  .gallery .small_blog_imgs .box .box_image,
  .the_blog .boxies_container .box .box_image,
  .the_blog .wide_blog_imgs .box .box_image,
  .the_blog .small_blog_imgs .box .box_image,
  .the_second_blog .boxies_container .box .box_image,
  .the_second_blog .wide_blog_imgs .box .box_image,
  .the_second_blog .small_blog_imgs .box .box_image {
    width: 100%;
    height: 150px;
  }
  .headlines ul li {
    padding: 8px 12px;
    margin: 0 5px;
  }
  .the_blog .wide_blog_imgs,
  .the_second_blog .wide_blog_imgs {
    width: 60%;
    float: left;
  }
  .the_blog .wide_blog_imgs .box,
  .the_second_blog .wide_blog_imgs .box {
    width: 60%;
  }
  .the_blog .wide_blog_imgs .box:first-of-type .box_image:first-of-type,
  .the_second_blog .wide_blog_imgs .box:first-of-type .box_image:first-of-type {
    height: 280px;
  }
  .the_blog .small_blog_imgs,
  .the_second_blog .small_blog_imgs {
    float: right;
  }
  .the_blog .small_blog_imgs .box,
  .the_second_blog .small_blog_imgs .box {
    width: 85%;
    margin: 20px;
  }
  .the_blog .small_blog_imgs .box .box_image,
  .the_blog .small_blog_imgs .box .box_info_div,
  .the_second_blog .small_blog_imgs .box .box_image,
  .the_second_blog .small_blog_imgs .box .box_info_div {
    width: 100%;
  }
  .the_blog .small_blog_imgs .box:first-of-type, .the_blog .small_blog_imgs .box:nth-of-type(5),
  .the_second_blog .small_blog_imgs .box:first-of-type,
  .the_second_blog .small_blog_imgs .box:nth-of-type(5) {
    margin-left: 20px;
  }
  .the_second_blog .second_wide_blog_imgs {
    width: 60%;
  }
  .the_second_blog .second_small_blog_imgs {
    width: 37%;
  }
  .the_second_blog .second_small_blog_imgs .box {
    width: 100%;
    margin: 20px 0px;
  }
  .the_second_blog .second_small_blog_imgs .box:first-of-type {
    margin-left: 0px;
  }
  .the_article .wide_article_imgs {
    width: 60% !important;
  }
  .the_article .wide_article_imgs .box {
    width: 100%;
  }
  .the_article .wide_article_imgs .box:first-of-type {
    margin: 0px;
  }
  .the_article .small_article_imgs {
    width: 38%;
    margin-left: 0px;
  }
  .the_article .small_article_imgs .other_article {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=media.css.map */