
@import "variables";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*Style of the logo and navbar*/
header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 0;

  .logo{
    display: inline-block;
    width: 210px;
    height: 60px;

    img{
      opacity: 0.9;
    }
  }

  nav{    
    ul{
      list-style: none;
      display: inline-block;
      li{
        display: inline-block;
        margin: 0px 15px;
        font-size: 20px;

        &:last-of-type{
          width: 35px;
          height: 35px;
        }

        a{
          color: #eee;

          &:hover{
            color: $blue
          }
        }
      }

      &.blog_ul_li_a{
        li{
          a{
            color: #000;

            &:hover{
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.active_nav_link{
  color: $blue !important;
}